body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header{
  background-color: #aaa;
}

.container{
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

header, main, nav, aside, footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gravity"
}

main{
  background-color: #fff;
  flex: 3;
}

nav, aside{
  flex: 1;
  background:  #ccc;
  display: flex;
}

footer{
  background: #aaa;
}
